<style>
body{

justify-content: center;
margin:1px;
}
.nav{
display: flex;
background: #FA1A0A;
margin: 1px;
padding: 5px;
}

.nav h1{
color: white;
font-size: 2rem;
font-weight: bold;
}

.hero-section{
color: green;
font-size: 25px;
text-align: center;
align-items: center;
justify-content: center;
}
.welcome-title{
color: blue;
font-size: 1.6rem;
background: #F9CD71;
border-radius: 10px;
padding:5px;
justify-content: center;
width: 300px;
margin-left: 300px;
justify-content: center;
}
.search-bar input{
font-size: 25px;
border-radius: 40px;
border: 4px solid orange;
padding: 8px;
text-align: center
}
.search-bar button{
font-size: 25px;
color: white;
padding: 8px;

background: blue;
}
.container{
justify-content: center;
padding: 10px;
margin: 10px auto;
}
.identity{
background: #FFFAEB;
border-left: 8px solid green;
border-radius: 30px;
padding: 8px;
margin: 15px;
}
.identity h2{
font-size: 2rem;
color: red;
}
.identity p{
font-size: 30px;
color: #4312F3;
margin: 1px;
}
.identity span{
font-size: 25px;
color: black;
font-weight: bold;
}
.identity:hover{
translate: 2px;
box-shadow: black;
}

.qualification{
background: #FFFAEB;
border-left: 8px solid red;
border-radius: 30px;
padding: 8px;
margin: 15px;
}
.qualification:hover{
translate: 2px;
box-shadow: black;
}
.qualification h2{
font-size: 2rem;
color: green;
}
.qualification p{
font-size: 30px;
color: orange;
margin: 1px;
}
.qualification span{
font-size: 25px;
color: darkblue;
font-weight: bold;
}

.project{
background: #FFFAEB;
border-left: 8px solid blue;
border-radius: 30px;
padding: 8px;
margin: 15px;
}
.project h2{
font-size: 2rem;
color: brown;
}
.project p{
font-size: 30px;
color: red;
margin: 1px;
}
.project:hover{
translate: 2px;
box-shadow: black;
}
.details-divider{
margin: 3px;
border-radius: 20px;
border: 5px solid green;
padding: 4px;
text-align: center;
font-size: 30px;
color: blue;
}
.Info{
text-align: center;
background: #5644FD;
color: white;
padding: 15px;
}
.Info h3{
font-size: 2rem;
border-bottom: 5px solid blue;
border-radius: 40px;
padding: 10px;
}
.jump{
font-size: 24px;
background: #FCD073;
color: red;
border-radius: 30px;
font-weight: bold;
}
.link-2{
text-decoration: none;
color: green;
}
.contact{
display: flex;
font-size: 24px;
gap: 50px;
}
.address{
font-size: 25px;

}
.motto{
width: 100%;
background: white;
color: green;

border-radius: 20px;
}
.slogan{
font-size: 25px;
padding: 10px;
}
.hamburger{
display: flex;
margin-left: 600px;
}
.menu{
font-size: 2.5rem;
color: white;
font-weight: bold;
}
.sub-menu{
display: flex;
width: 250px;
text-decoration: none;
font-size: 2rem;
color: blue;
background: white;
flex-direction: column;
text-align: center;
position: fixed;
justify-content: flex-start;
transition:  right 0.3s ease;
right: 0;
border-radius: 15px;
font-weight: bold;
padding: 10px;
margin-top: 100px;
gap: 20px;
border: 2px solid black;
box-shadow: 10px 10px 15px -5px rgba(0, 0, 0, 0.3);

}
.sub-menu a{
text-decoration: none;
}
.sub-menu a:hover{
background: #F7F7F7;
color: red;
}
.exit{
background: red;
color: white;
border-radius: 20px;
}
#menu-toggle{
display: none;
}
.menu-overlay{
display: none;
}
#menu-toggle:checked{
width: 250px;
}
#menu-toggle:checked ~ .menu-overlay{
display: block;
}
.Notify{
padding: 10px;
background: grey;
color: white;
border-radius: 20px;
width: 300px;
margin: 15px;
margin-left: 300px;
}

</style>
</head>
<body>

<div class="nav">
  <h1>Loveson's Portfolio</h1>
  <div class='hamburger'>
  <input type= 'checkbox' id='menu-toggle'> 
  <label for='menu-toggle' class='menu'> ☰ </label>
  
  <label for='menu-toggle' class='menu-overlay'> 
  <div class='sub-menu'>
  <a href='/About'> 📕About </a>
  <a href='#'> 📃News </a>
  <a href='#'> 🖌️Arts </a>
  <a href='#'> 🔎Course </a>
    <a class='exit' href="/logout">Logout</a>

    </label>
    </div>
</div>
</div>
<form action='message' method='POST'>
<div class="hero-section">
  <h1 class="welcome-title">🎉 Welcome, Loveson!</h1>
  <div class="search-bar">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
     <div class='Notify'>{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}
    <input class="search" name="message" placeholder="Enter your Quest ?"> 
    <button class="search-btn">Send </button>
  </div>
</div>

<div class="container">
  <div class=" identity">
    <h2>Identity</h2>
    <p>▶ It's me <span>Loveson B.k.</span> I am specializing in Flask application development and currently working as a programmer, continuous learner, and developer.</p>
  </div>

  <div class=" qualification">
    <h2>Qualification</h2>
    <p>▶ Currently learning <span>Python</span> as my core language. My main area of focus is web design and core logic analysis.</p>
  </div>

  <div class=" project">
    <h2>Project</h2>
    <p>▶ Active in developing Python projects including data analytics, web services, and deployment workflows.</p>
  </div>
</div>

<div class="details-divider">🔽 Additional Information</div>

<div class='Info' style="padding: 0 1.5rem;">
  <footer>
    <h3>Have questions❔</h3>
    <p class='jump' >Visit <a class="link-2" href="https://loveson-bishokarma.onrender.com" target="_blank">Loveson site</a> for full portfolio details.</p> 

    <ul class="contact">
      <li>📞 9826340157</li>
      <li>📱 9854832490</li>
    </ul>

    <p class="address" style="color: #F67B6F; font-weight: 600;">📍 Address: <span style="color: #ffffff; font-weight: 600;">Sundarharicha-2, Morang</span></p>
    
    <div class= 'motto'>
    <p class="slogan">"Work in silence, let your success make the noise."</p>
    <div>
  </footer>

</div>

</form>
</body>
</html>
